:root{
  --bg:#020617;
  --card:#0f172a;
  --green:#22c55e;
  --text:#e5e7eb;
  --muted:#94a3b8;
}

*{
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  margin:0;
  background:var(--bg);
  color:var(--text);
}

header{
  text-align:center;
  padding:20px;
  border-bottom:1px solid #1e293b;
}
header h1{
  margin:0;
  color:var(--green);
}

main{
  max-width:480px;
  margin:auto;
  padding:15px;
}

section{
  background:var(--card);
  padding:15px;
  border-radius:14px;
  margin-bottom:15px;
}

input, select{
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border-radius:10px;
  border:1px solid #1e293b;
  background:#020617;
  color:var(--text);
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  background:var(--green);
  color:#052e16;
  font-weight:bold;
}

ul{
  list-style:none;
  padding:0;
}

li{
  background:#020617;
  padding:10px;
  border-radius:10px;
  margin-bottom:8px;
  display:flex;
  justify-content:space-between;
}

.premium h3{
  color:var(--green);
}

.overlay{
  position:fixed;
  inset:0;
  background:rgba(2,6,23,.95);
  display:flex;
  align-items:center;
  justify-content:center;
}

.card{
  background:var(--card);
  padding:25px;
  border-radius:16px;
  text-align:center;
}
.card h2{
  color:var(--green);
}
