body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: #fff;
}

header {
  padding: 15px;
  text-align: center;
  background: #020617;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background: #22c55e;
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
}

ul { list-style: none; padding: 0; }

li {
  background: #0f172a;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.premium {
  margin-top: 20px;
  padding: 10px;
  background: #0f172a;
}

.hidden { display: none; }

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.venda {
  text-align: center;
  padding: 40px;
}

.btn {
  display: inline-block;
  padding: 15px;
  background: #22c55e;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}
